@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nunito:wght@400;500;600&family=Playfair+Display:wght@700&family=Raleway:wght@500&family=Roboto:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Comfortaa', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Playfair Display', serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Raleway', sans-serif;

	background-image: url('background.png');
	background-repeat: no-repeat;
	background-position: top right;
}

a {
	text-decoration: none;
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 12px 120px;
	box-sizing: border-box;
	gap: 10px;
	font-size: 22px;
}

.header__logo {
	color: var(--font-high-emphasis, #25282b);
	font-family: 'Comfortaa', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 180%;
}

.navigation {
	display: flex;
	gap: 48px;
	width: 300px;
}

.navigation > a {
	color: var(--font-high-emphasis, #25282b);
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
}

.navigation > a:hover {
	text-decoration: underline;
}
